body {
  background-color: $bgd-color;
  color: $primary-text-color;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
ul,
p {
  margin: 0 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $tablet) {
      max-width: 768px;
    }
  
    @media screen and (min-width: $desktop) {
      max-width: 1200px;
    }
}
