.client-list {
  display: flex;
  gap: 30px;

  @media screen and (max-width: $max-tablet) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.client-section {
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
  }
}

.client-section__icon {
  fill: $icon-color;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.client-list__item {
  width: calc((100%) / 2 - 15px);
  height: 92px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 60px) / 3);
  }
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--icon-color);
  width: 170px;
  height: 92px;
  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
