.footer {
  background-color: $secondary-bgd-color;
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  width: 231px;
  margin-right: 70px;
}

.footer__address {
  font-style: normal;
}
