.form__field {
  position: relative;

  display: block;
  margin-bottom: 10px;
}

.form__lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  margin: 0;
  padding: 0;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;

    & + .form-icon {
      fill: $accent-color;
    }
  }
}

.form__textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus,
  &:hover {
    border-color: $accent-color;
  }
}

.form__checkbox {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}

.form__confimation {
  appearance: none;

  position: absolute;

  &:checked + .form__confimation-icon {
    background-color: $accent-color;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    border-color: transparent;
    background-origin: border-box;
  }
}

.form__confimation-icon {
  content: '';
  display: inline-block;
  height: 15px;
  width: 16px;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;
}

.form__confimation-text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.71;

  padding-left: 8px;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__confimation-link {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;

  color: $accent-color;
}

.form__field-button {
  display: flex;
  justify-content: center;
}

.form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $bgd-color;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 10px 52px;

  &:focus,
  &:hover {
    background-color: $button-hero-bgd-color;
  }
}
