.hero {
  // max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
  padding: 118px 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile-image/mobile-hero.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $hero-gradient,
      url('../images/mobile-image/mobile-hero@x2.jpg');
  }
  @media screen and (min-width: $tablet-hero) {
    max-width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet-image/tablet-hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $hero-gradient,
        url('../images/tablet-image/tablet-hero@x2.jpg');
    }
  }

  @media screen and (min-width: $desktop-hero) {
    max-width: 1600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop-image/desktop-hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $hero-gradient,
        url('../images/desktop-image/desktop-hero@x2.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 200px 0;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: $bgd-color;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;

  margin: 0 auto;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
      font-size: 44px;
      max-width: 696px;
    }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $bgd-color;
  background-color: $accent-color;
  text-align: center;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-hero-bgd-color;
  }

     @media screen and (min-width: $desktop) {
       min-width: 216px;
     }
}
