.join {
  margin-right: 93px;
}

.join__title {
  text-transform: uppercase;
  color: $bgd-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  gap: 10px;
  padding-left: 0;
  padding-right: 0;
}

.join-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  fill: $bgd-color;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
