.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: $primary-logo-color;
}

.logo__accent {
  color: $accent-color;
}

.logo-header {
  @media screen and (min-width: $tablet) {
    margin-right: 87px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 92px;
  }
}

.logo-footer {
  display: inline-block;
  color: $bgd-color;
  text-shadow: none;

  margin-bottom: 20px;
}
