.nav {
  @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      gap: 50px;
    }
}

.nav__item {
  position: relative;
}

.nav__link {
  @media screen and (max-width: $max-mobile) {
      font-size: 40px;
      line-height: 47px;
    }
  display: inline-block;
  padding: 32px 0;
  color: $secondary-text-color;

    @media screen and (min-width: $tablet) {
      padding: 32px 0;
    }
}

.nav__link.current {
  /* Надає колір поточній вкладці */
  color: $accent-color;

  @media screen and (min-width: $tablet) {
      &::after {
        content: '';
  
        position: absolute;
        bottom: 0;
  
        transform: translateY(1px);
  
        display: block;
        width: 100%;
        height: 4px;
  
        background-color: getColor('accent');
        border-radius: 2px;
      }
    }
}
