$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$bgd-color: #ffffff;
$primary-logo-color: #000000;
$secondary-bgd-color: #2f303a;
$button-hero-bgd-color: #188ce8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$bgd-team-color: #f5f4fa;
$icon-color: #afb1b8;

$hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));